.HA_VERSION
.cloud/
.storage/
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
secrets.yaml
custom_components/hacs/
custom_components/spotcast/
custom_components/raspotify/node_modules/
custom_components/raspotify/package-lock.json
custom_components/frameworkradiodownloader/*.mp3
custom_components/frameworkradiodownloader/*.tmp
deps/
themes/
tts/
mp3/
core
